---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.w3.org/2000/svg/sitemap/0.9">
  <url><loc>https://eventspherex.com/</loc><priority>1.0</priority></url>
  {%- for post in collections.posts %}
  <url><loc>https://eventspherex.com/posts/{{ post.data.slug }}/</loc><lastmod>{{ post.data.date | dateFormat }}</lastmod></url>
  {%- endfor %}
</urlset>
